dash 
fastjsonschema 
filelock 
Flask==2.2.2
Flask-Compress 
importlib-metadata 
importlib-resources 
joblib==1.1.0
jsonschema 
gunicorn
lightgbm==3.3.3
matplotlib 
matplotlib-inline 
nltk  
numpy 
packaging 
pandas 
pandocfilters 
plotly 
ply==3.11
requests 
sacremoses 
scikit-learn 
shap==0.41.0
statsmodels==0.13.2
zipp 
